<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="base.biz.menu.MenuMapper">

   <select id="selectMenuListCnt" parameterType="java.util.HashMap" resultType="int">
		SELECT /* MenuMapper.selectMenuListCnt 메뉴관리 목록 갯수 조회 */
				COUNT(URL) AS TOTAL_CNT
		  FROM SYSTEM_MENU 
		<where>
			<if test="menuName != null and menuName != '' ">AND MENU_NAME LIKE CONCAT('%',#{menuName},'%')</if>
			<if test="useYn != null and useYn != '' ">AND USE_YN = #{useYn}</if>
			<if test="sysGroup != null and sysGroup != '' ">AND SYS_GROUP = #{sysGroup}</if>
		</where>
    </select>


   <select id="selectMenuList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT URL /* MenuMapper.selectMenuList 메뉴관리 목록 조회 */
			, SYS_GROUP
			, PARENT_URL
			, MENU_NAME
			, MENU_LEVEL
			, ORDER_NUM
			, USE_YN
			, LINK_YN
			, CNG_USER_NO
			, REG_DT
			, CNG_DT 
		FROM SYSTEM_MENU 
		<where>
			<if test="menuName != null and menuName != '' ">AND MENU_NAME LIKE CONCAT('%',#{menuName},'%')</if>
			<if test="useYn != null and useYn != '' ">AND USE_YN = #{useYn}</if>
			<if test="sysGroup != null and sysGroup != '' ">AND SYS_GROUP = #{sysGroup}</if>
		</where>
<!--	ORDER BY B.SEQ DESC-->
		LIMIT #{pageListCnt} OFFSET #{startIdx}
    </select>
    

	<update id="updateMenuList" parameterType="java.util.List">
		<foreach collection="list" item="rowData" separator=";">
			UPDATE SYSTEM_MENU /* MenuMapper.updateMenuList MENU 리스트 update */
				SET 
					PARENT_URL = #{rowData.PARENT_URL} 
					, MENU_NAME = #{rowData.MENU_NAME} 
					, MENU_LEVEL = #{rowData.MENU_LEVEL} 
					, ORDER_NUM = #{rowData.ORDER_NUM} 
					, USE_YN = #{rowData.USE_YN} 
					, LINK_YN = #{rowData.LINK_YN} 
					, CNG_USER_NO = #{rowData.REG_ID} 
					, CNG_DT = CURRENT_TIMESTAMP() 
				WHERE URL = #{rowData.URL} 
				  AND SYS_GROUP = #{rowData.SYS_GROUP} 
		</foreach>
	</update>


   <select id="selectMenuOne" parameterType="java.util.HashMap" resultType="int">
		SELECT /* MenuMapper.selectMenuOne 메뉴관리 중복 갯수 조회 */
				COUNT(URL) AS TOTAL_CNT
		  FROM SYSTEM_MENU
		 WHERE URL = #{URL}
		   AND SYS_GROUP = #{SYS_GROUP}
    </select>

	<insert id="insertMenuOne" parameterType="java.util.HashMap" >
		INSERT INTO SYSTEM_MENU ( /* MenuMapper.insertMenuOne MENU 리스트 insert */
					URL 
					, SYS_GROUP
					, PARENT_URL
					, MENU_NAME
					, MENU_LEVEL
					, ORDER_NUM
					, USE_YN
					, LINK_YN
					, CNG_USER_NO
					, REG_DT
					, CNG_DT
				) VALUES
				(
					#{URL}
					, #{SYS_GROUP}
					, #{PARENT_URL}
					, #{MENU_NAME}
					, #{MENU_LEVEL}
					, #{ORDER_NUM}
					, #{USE_YN}
					, #{LINK_YN}
					, #{REG_ID}
					, CURRENT_TIMESTAMP()
					, CURRENT_TIMESTAMP() 
				)
	</insert>


	<insert id="insertMenuList" parameterType="java.util.List">
		INSERT INTO SYSTEM_MENU ( /* MenuMapper.insertMenuList MENU 리스트 insert */
					URL 
					, SYS_GROUP
					, PARENT_URL
					, MENU_NAME
					, MENU_LEVEL
					, ORDER_NUM
					, USE_YN
					, LINK_YN
					, CNG_USER_NO
					, REG_DT
					, CNG_DT
				) VALUES
			<foreach collection="list" item="rowData" separator=",">
				(
					#{rowData.URL}
					, #{rowData.SYS_GROUP}
					, #{rowData.PARENT_URL}
					, #{rowData.MENU_NAME}
					, #{rowData.MENU_LEVEL}
					, #{rowData.ORDER_NUM}
					, #{rowData.USE_YN}
					, #{rowData.LINK_YN}
					, #{rowData.REG_ID}
					, CURRENT_TIMESTAMP()
					, CURRENT_TIMESTAMP() 
				)
			</foreach>
	</insert>

	
	<delete id="deleteMenuList" parameterType="java.util.ArrayList">
		DELETE FROM SYSTEM_MENU /* MenuMapper.deleteMenuList 메뉴관리 delete */
		 <where>  
			<foreach item="rowData" index="index" collection="list" open="" separator="OR" close="">
			  ( URL = #{rowData.URL} AND SYS_GROUP = #{rowData.SYS_GROUP} )
			</foreach>
		</where>
	</delete>
		
</mapper>